# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.ProjetoAtividade.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\gabri\Documents\CursoADS\4ºPeríodo\Programação Windows\Atividade_01\ProjetoAtividade\.idea\.idea.ProjetoAtividade\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
